---
// ここで「食材（データ）」を取り出します
import { getCollection } from 'astro:content';
const allWorks = await getCollection('works');
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Cozy Spark</title>
  </head>
  <body>
    <h1>Cozy Spark</h1>
    <p>テスト表示中</p>

    <ul>
      {allWorks.map(story => (
        <li>
          {story.data.workTitle} - {story.data.title}（{story.data.rating}）
        </li>
      ))}
    </ul>
  </body>
</html>